/**
* Initialize
**/

.popupmenu__contents {
    .popupmenu__volume-slider {
        &::-webkit-slider-runnable-track {
            background-color: #246fe5;
        }

        &::-moz-range-track {
            background-color: #246fe5;
        }

        &::-ms-fill-lower {
            background-color: #246fe5;
        }
    }
}
